@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {
  font-family: 'Pacifico', cursive;
  color: #DB3EB1;
  text-decoration: underline;
  text-decoration-color: #41B6E6;
  font-style: italic;
}
.wrapper {
  height: 100vh;
  display: grid;
}
button.miami {
  background-color: #41B6E6 !important;
  border-color: #DB3EB1 !important;
}
.badge-danger {
  background-color: #42b6e6 !important
}